<div>
    <button id="Home"></button>
    <main>
        <form id="login">
            <h1  id="loginHeader">Login</h1>
            <input id="loginname" name="username" placeholder="username" />
            <input name="password" value="" placeholder="password" />
            <button id="loginbtn" type="submit">Login</button>
        </form>

        <form id="create">
            <h1 id="createHeader">Create user</h1>
            <input name="username" value="" placeholder="username" />
            <input name="password" value="" placeholder="password" />
            <input name="TOS" type="checkbox" id="tos">
            <label for="tos"> <a href="./ToS.html">Agree
                    to Terms of Service</a> </label>
            <button id="createbtn" type="submit">Create User</button>
        </form>

        <form id="edit">
            <h1 id="editHeader">Edit user</h1>
            <input name="username" placeholder="username" />
            <input name="password" placeholder="password" />
            <input name="newname" placeholder="new username" />
            <input name="newpassword" placeholder="new password" />
            <button id="editbtn" type="submit">Edit user</button>
        </form>

        <form id="delete">
            <h1 id="deleteHeader">Delete user</h1>
            <input id="deletename" name="username" placeholder="username" />
            <input id="deletepassword" name="password" placeholder="password" />
            <button id="deletebtn" type="submit">Delete user</button>
        </form>
    </main>

</div>