<div>
    <form id="login">
        <h1>Login</h1>
        <input name="name" value="" placeholder="username" />
        <input name="password" value="" placeholder="password" />
        <button type="submit">Create User</button>
    </form>

    <form id="create">
        <h1>Create user</h1>
        <input name="name" value="" placeholder="username" />
        <input name="password" value="" placeholder="password" />
        <input name="TOS" type="checkbox" name="tos">
        <label for="tos"> <a
                href="./ToS.html">Agree
                to Terms of Service</a> </label>
        <button type="submit">Create User</button>
    </form>

    <form id="edit">
        <h1>Edit user</h1>
        <input name="name" placeholder="username" />
        <input name="password" placeholder="password" />
        <input name="newname" placeholder="new username" />
        <input name="newpassword" placeholder="new password" />
        <button type="submit">Edit user</button>
    </form>

    <form id="delete">
        <h1>Delete user</h1>
        <input id="deletename" name="name" placeholder="username" />
        <input id="deletepassword" name="password" placeholder="password" />
        <button id="deletebtn" type="submit">Delete user</button>
    </form>
</div>