h1 {
    font-style: bold;
}

body {
    background-color: antiquewhite;
}

input{
    min-width: 48px;
    min-height: 30px;
}

button{
    min-width: 48px;
    min-height: 30px;
}

#toast{
    visibility: hidden;
}

#toast.show{
    visibility: visible;
}
